.filter-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.filter-container button{
    margin-right: 2.5rem;
    min-width: 5rem;
    padding: 0.5rem 0.5rem;
    border: none; 
    /* background: #9f1950;*/
    
    background-color: #111111;
    color: var(--primary);
    border: 2px groove var(--primary);
    box-shadow: 0px 0px 5px var(--primary);

    font-family: Optima, "Comic Sans MS", "Comic Sans", cursive, 
    Roboto, Helvetica, Arial, sans-serif;
    border-radius: 1rem; 
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.filter-container button:hover {
    background-color: var(--primary);
    color: #fff;
}

.slick-slide {
    margin: 0 15px;
}

/* the parent */
.slick-list {
    margin: 0 auto;
}

