@font-face {
  font-family: Optima;
  src: url("./fonts/OPTIMA.TTF");
}

body {
  margin: 0;
  font-family: Optima, "Comic Sans MS", "Comic Sans", cursive, 
  Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111111;
}

code {
  font-family: Optima, "Comic Sans MS", "Comic Sans", cursive, 
  Roboto, Helvetica, Arial, sans-serif;
}

:root{
  --primary: #00A19C;
  --secondary: #C6C6C6;
  --error: #7d1236;

  --background: #111111;
  --merc_red:  #7d1236;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
  background: var(--background);
  /* background: var(--secondary); */
}

.App{
  max-width: 1080px;
  margin: 0 auto;
}